In [ ]:
# QUES1
'''
mongoDB is a non- realational document database that provides support for the JSON like storage
non-realtional databases is a database that does not use the tabular schema of rows and columns found in the most traditional database system
mongodb databse dont follow a rigit schema but instead have more flexible structure to accomodate their datatype unlike sql
mongodb have lesser server cost and is open sourse
'''

In [ ]:
# ques2
"""
1. Support ad hoc queries
In MongoDB, you can search by field, range query and it also supports regular expression searches.

2. Indexing
You can index any field in a document.

3. Replication
MongoDB supports Master Slave replication.
A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes)

4. Duplication of data
MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

5. Load balancing
It has an automatic load balancing configuration because of data placed in shards.
"""

In [1]:
# ques3
import pymongo
client = pymongo.MongoClient("mongodb+srv://The_anjalirai:The_anjalirai0004@cluster0.m6qkmnh.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [2]:
db = client["books"]

In [3]:
coll_books = db["my_record"]

In [4]:
# ques4
data1 = [{"name" : "anjali" , "position" : "member"},{"name" : "aryan" , "position" : "member"},{"name" : "bulbul" , "position" : "member"}]
data2 = {"name" : "anjali" , "phone_number" : 45464646}

In [5]:
coll_books.insert_many(data1)
coll_books.insert_one(data2)

In [6]:
for i in coll_books.find():
    print(i)

{'_id': ObjectId('643039af3627eb282d052d03'), 'name': 'anjali', 'position': 'member'}
{'_id': ObjectId('643039af3627eb282d052d04'), 'name': 'aryan', 'position': 'member'}
{'_id': ObjectId('643039af3627eb282d052d05'), 'name': 'bulbul', 'position': 'member'}
{'_id': ObjectId('643039b13627eb282d052d06'), 'name': 'anjali', 'phone_number': 45464646}

In [7]:
coll_books.find_one()

{'_id': ObjectId('643039af3627eb282d052d03'),
 'name': 'anjali',
 'position': 'member'}

In [9]:
# ques5
# find() method is used to fetch a particular data from the table using query parameter
for i in coll_books.find({"position" : "member"}):
    print(i)

{'_id': ObjectId('643039af3627eb282d052d03'), 'name': 'anjali', 'position': 'member'}
{'_id': ObjectId('643039af3627eb282d052d04'), 'name': 'aryan', 'position': 'member'}
{'_id': ObjectId('643039af3627eb282d052d05'), 'name': 'bulbul', 'position': 'member'}

In [ ]:
# ques6
'''The sort() method specifies the order in which the query returns the matching documents from the given collection.'''

In [15]:
for i in coll_books.find().sort("name"):
    print(i)

{'_id': ObjectId('643039af3627eb282d052d03'), 'name': 'anjali', 'position': 'member'}
{'_id': ObjectId('643039b13627eb282d052d06'), 'name': 'anjali', 'phone_number': 45464646}
{'_id': ObjectId('643039af3627eb282d052d04'), 'name': 'aryan', 'position': 'member'}
{'_id': ObjectId('643039af3627eb282d052d05'), 'name': 'bulbul', 'position': 'member'}

In [ ]:
# ques7
# delete_one() - a single document can be deleted
# delete_many() - a delete more than one docuument

In [16]:
coll_books.delete_one({"name" : " bulbul"})
coll_books.delete_many({"name" : "anjali"})

In [17]:
for i in coll_books.find():
    print(i)

{'_id': ObjectId('643039af3627eb282d052d04'), 'name': 'aryan', 'position': 'member'}
{'_id': ObjectId('643039af3627eb282d052d05'), 'name': 'bulbul', 'position': 'member'}

In [18]:
# drop() - to delete a collection or a table
coll_books.drop()